@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #000;
	background-image: url("../img/library.jpeg");
  background-size: cover;
  background-attachment: fixed;
	background-repeat: no-repeat;
}

.order-container {
  width: 750px;
  height: auto;
  margin: 80px  auto auto auto;
  padding-bottom: 10px;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.order-title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}

.order-item {
  padding: 20px 30px;
  height: 120px;
  width: 100%;
  display: flex;
  
  margin-bottom: 50px;
}

/* .order-item:nth-child(3) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
  
} */

/* Buttons -  Delete and Like */
.order-buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 40px;
}

.order-delete-btn {
  display: inline-block;
  cursor: pointer;
  width: 18px;
  height: 17px;
  background: url("../img/delete-icn.svg") no-repeat center;
}

.order-like-btn {
  position: absolute;
  top: 9px;
  left: 15px;
  display: inline-block;
  background: url('twitter-heart.png');
  width: 60px;
  height: 60px;
  background-size: 2900%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.order-is-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}

@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}

/* Product Image */


/* Product Description */
.order-description {
  padding-top: 10px;
  margin-right: 60px;
  width: 155px;
}

.order-description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}

.order-description span:first-child {
  margin-bottom: 5px;
}
.order-description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}

/* Product Quantity */
.order-quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.order-quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 43px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.order-minus-btn img {
  margin-bottom: 3px;
  margin-left: 5px;

}
.order-plus-btn img {
  margin-top: 2px;
}
button:focus,
input:focus {
  outline:0;
}

/* Total Price */
.order-total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
.order-image {
  margin-right: 50px;
  width: 100px;
  height: 100px;
}
/* Responsive */
@media (max-width: 800px) {
  .order-shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .order-item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
 
  .order-quantity,
  .order-description {
    width: 100%;
    text-align: center;
    margin: 6px 5px;
  }
  .order-buttons {
    margin-right: 10px;
  }
  .order-image img {
    width: 50%;
  }
}

.btn-checkout {
	background-color: white;
	color: #81002C;
	padding: 12px;
	border: none;
  /* width: 100%; */
  border-radius: 3px;
	cursor: pointer;
  font-size: 17px;
  width: 750px;
  height: auto;
  margin: 20px auto;
  padding-bottom: 10px;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  display: block;
  text-align: center;
  }
  
  .btn-checkout:hover {
  background-color: rgb(153,24,68);
  color:white;
  }